/* Estilo para el control TextBox de fecha */
.center-container {
    margin:8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
    .center-container .Fecha {
        margin-right: 10px; /* Ajusta el valor del margen derecho según sea necesario */
    }

.center-containers {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Estilo para el icono de calendario del control TextBox de fecha (solo para navegadores compatibles) */
/*.Fecha::-webkit-calendar-picker-indicator {
        background-color: transparent;
        padding: 2px;
        cursor: pointer;*/
/* Agrega aquí tu icono personalizado */
/*}*/

/* Estilo para el icono de calendario del control TextBox de fecha (para Firefox) */
/*.Fecha[type="date"]::-moz-calendar-picker-indicator {
        background-color: transparent;
        padding: 2px;
        cursor: pointer;*/
/* Agrega aquí tu icono personalizado */
/*}*/

/* Estilo para el icono de calendario del control TextBox de fecha (para Microsoft Edge) */
/*.Fecha[type="date"]::-ms-clear {
        display: none;
    }*/
