body {
    margin: 0px;
}

/*navBar Usuario*/
.navbar1 {
    height: 50px;
    background-color: #f7f7f7;
    color: black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}


    .navbar1 .navbar-text,
    .navbar1 label {
        margin-right: 60px;
    }

.navbar-nav {
    display: flex;
    background-color: white;
}

.textbox-button-container {
    display: inline-block;
    margin-right: 20px; /* Espacio entre el cuadro de texto y el botón */
}


