* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
/* Panels. */
.splitview {
    position: relative;
    width: 100%;
    min-height: 45vw;
    overflow: hidden;
}

.panel {
    position: absolute;
    width: 100vw;
    min-height: 45vw;
    overflow: hidden;
}

    .panel .content {
        position: absolute;
        width: 100vw;
        min-height: 45vw;
        color: #FFF;
    }

    .panel .description {
        width: 25%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
    }

    .panel img {
        box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.15);
        width: 35%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


.bottom {
    background-color: rgb(44, 44, 44);
    z-index: 1;
}

    .bottom .description {
        right: 5%;
    }

.top {
    background-color: rgb(77, 69, 173);
    z-index: 2;
    width: 50vw;
    /*-webkit-clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
    clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);*/
}

    .top .description {
        left: 5%;
    }

/* Handle. */
.handle {
    height: 100%;
    position: absolute;
    display: block;
    background-color: rgb(253, 171, 0);
    width: 5px;
    top: 0;
    left: 50%;
    z-index: 3;
}

/* Reset. */


/* Panels. */
.splitview {
    position: relative;
    width: 100%;
    min-height: 45vw;
    overflow: hidden;
}

.panel {
    position: absolute;
    width: 100vw;
    min-height: 45vw;
    overflow: hidden;
}

    .panel .content {
        position: absolute;
        width: 100vw;
        min-height: 45vw;
        color: #FFF;
    }

    .panel .description {
        width: 25%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
    }

    .panel img {
        box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.15);
        width: 35%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


.bottom {
    background-color: rgb(44, 44, 44);
    z-index: 1;
}

    .bottom .description {
        right: 5%;
    }

.top {
    background-color: rgb(77, 69, 173);
    z-index: 2;
    width: 50vw;
    /*-webkit-clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
    clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);*/
}

    .top .description {
        left: 5%;
    }

/* Handle. */
.handle {
    height: 100%;
    position: absolute;
    display: block;
    background-color: rgb(253, 171, 0);
    width: 5px;
    top: 0;
    left: 50%;
    z-index: 3;
}

/* Skewed. */
.skewed .handle {
    top: 50%;
    transform: rotate(30deg) translateY(-50%);
    height: 200%;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    transform-origin: top;
}

.skewed .top {
    transform: skew(-30deg);
    margin-left: -1000px;
    width: calc(50vw + 1000px);
}

    .skewed .top .content {
        transform: skew(30deg);
        margin-left: 1000px;
    }



/*Cards Profecionales*/
.label-container {
    max-width: 300px;
    margin: 0 auto;
}

.texto {
    background-color: #8a4a4a;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    transform: skewX(-20deg);
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Resto del estilo de las tarjetas y el carrusel */
.card {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
}

.custom-card {
    margin: 0 10px; /* Margen entre tarjetas */
}

.card-body {
    background-color: white;
    font-size: 20px;
    font-family: 'Bernard MT';
    transition: box-shadow 0.3s ease;
    margin-bottom: 10px; /* Agregado margen inferior de 10px */
}

    .card-body:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    }

.card-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
    color: #b92323;
}

.owl-carousel .owl-nav button.owl-prev {
    margin-top: 20px;
    margin-right: 10px;
}

.owl-carousel .owl-nav button.owl-next {
    margin-top: 20px;
    margin-left: 10px;
}



/*Footer*/

footer {
    width: 100%;
    padding: 50px 0px;
    background-image: url(img/background-footer.svg);
    background-size: cover;
}

.container__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    /*    margin-top: 100px;*/
}

.box__footer {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

    .box__footer .logo img {
        width: 100px;
    }

    .box__footer .terms {
        max-width: 350px;
        margin-top: 20px;
        font-weight: 500;
        color: #7a7a7a;
        font-size: 18px;
    }

    .box__footer h2 {
        margin-bottom: 30px;
        color: #343434;
        font-weight: 700;
    }

    .box__footer a {
        margin-top: 10px;
        color: #7a7a7a;
        font-weight: 600;
    }

        .box__footer a:hover {
            opacity: 0.8;
        }

        .box__footer a .fab {
            font-size: 20px;
        }

.box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

    .box__copyright p {
        margin-top: 20px;
        color: #7a7a7a;
    }

    .box__copyright hr {
        border: none;
        height: 1px;
        background-color: #7a7a7a;
    }









